* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

section {
    margin: 6vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
}

#notes-cards {
    display: grid;
    grid-template-columns: repeat(4, 18rem);
    grid-auto-rows: 20vh;
    column-gap: 60px;
    row-gap: 60px;
}
