* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

section {
    margin: 6vh 0;
    padding: 0 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
}

.note-form {
    width: 50%;
    text-align: center;
}

.card-text.index {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card.view {
    width: 60%;
}

svg, .btn-close {
    margin-left: auto;
}

textarea.card-text {
    padding: 0px;
    border: 0px;
    background-color: transparent;
    resize: none;
}

a[href="/add"],
a[href="/add"]:hover {
    color: white;
}

a[href="/add"] svg {
    fill: white;
}

h1 + h2 a {
    text-decoration: none;
    color: black;
}