{% extends "layout.html" %}

{% block title %}Create a new note{% endblock %}

{% block content %}
    <form class="note-form" action="/add" method="post">
        <input type="text" class="form-control mb-3" name="title" placeholder="Title"
            value={{ request.form.get("title") if request.form.get("title") else "" }}>
        <textarea class="form-control mb-3" name="content" rows="10" placeholder="Write something...">{{ request.form.get("content") if request.form.get("content") else "" }}</textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
        <!-- <button type="submit" class="btn btn-danger">Cancel</button> -->
    </form>
{% endblock %}