{% extends "layout.html" %}

{% block title %}Edit {{ note[1] }}{% endblock %}

{% block content %}
    <form class="note-form" action={{ "/edit/{}".format(note[0]) }} method="post">
        <input type="text" class="form-control mb-3" name="title" placeholder="Title"
            value={{ request.form.get("title") if request.form.get("title") else note[1] }}>
        <textarea class="form-control mb-3" name="content" rows="10" placeholder="Write something...">{{ request.form.get("content") if request.form.get("content") else note[2] }}</textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
        <!-- <button type="submit" class="btn btn-danger">Cancel</button> -->
    </form>
{% endblock %}