{% extends "layout.html" %}

{% block link %}
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
{% endblock %}

{% block title %}{{ note[1] }}{% endblock %}

{% block content %}
<div class="card view">
    <div class="card-body">
      <h5 class="card-title">{{ note[1] }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ note[3] }}</h6>
      <p class="card-text">{{ note[2] }}</p>
      <a href="#" class="card-link">Edit</a>
      <a href={{ "/delete/{}".format(note[0]) }} class="card-link">Delete</a>
    </div>
  </div>
{% endblock %}

